<div class="container mt-5">
    <div class="row">
        <div class="col col-12 col-sm-6">
            <ol>
                <li>Cuando empiezo a trabajar en un proyecto nuevo verificó todas las pruebas unitarias ya existentes.</li>
                <b>Respuesta: 5</b>
                <li>Al momento de desarrollar código nuevo, verificó que las pruebas unitarias corran de forma correcta.</li>
                <b>Respuesta: 5</b>
                <li>Soy consciente de la cobertura de las pruebas unitarias de mi código antes y después de realizar cambios.</li>
                <b>Respuesta: 5</b>
                <li>Conozco todos los componentes con los que interactúa mi sistema y suelo realizar pruebas que verifiquen la integración entre componentes.</li>
                <b>Respuesta: 4</b>
                <li>Automatizar las pruebas de mi código</li>
                <b>Respuesta: 5</b>
            </ol>
        </div>
        <div class="col col-12 col-sm-6">
            <ul>
                <li>¿Consideras que Pepinito es un desarrollador con conciencia?</li>
                <b>Respuesta: No</b>
                <li>Describe 3 comportamientos que evidencien tu respuesta anterior.</li>
                <b>Respuesta:</b>
                <ol>
                    <li>No se corren las pruebas existen antes de iniciar la implementación y no se corren antes de cada commit.</li>
                    <li>No se esta haciendo la debida cobertura de las funcionalidades con pruebas automatizadas.</li>
                    <li>Se está priorizando la entrega sobre la calidad.</li>
                </ol>
                con pruebas automatizadas.
                <li>Si pudiera generar una acción puntual en el equipo frente al escenario, ¿cuál sería?</li>
                <b>Respuesta:</b> La acción que se generaría es la de pull request y aprobación de un compañero, luego las políticas de pruebas automatizadas para poder realizar un despliegue continuo se deberían superar las mismas.
                <li>¿Cuál es la causa del error fantasma?</li>
                <b>Respuesta:</b> La causa del error fantasma puede ser la disminución o cobertura de las pruebas unitarias automatizadas, esto no permite que se detecten problemas al realizar una refactorización o modificación.
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-sm-6">
        </div>
        <div class="col col-12 col-sm-6">
        </div>
    </div>
</div>