<mat-card class="container mt-5 example-card">
    <mat-card-header>

        <mat-card-title>
            Saludar
        </mat-card-title>
    </mat-card-header>
    <div class="nueve-usuario-container">
        <form [formGroup]="saludoRegistro" #formDirective="ngForm" novalidate>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombres" formControlName="nombres" required>
                        <mat-error *ngIf="hasError('nombres', 'required')">El campo nombre es requerido.</mat-error>
                        <mat-error *ngIf="hasError('nombres', 'maxlength')">El campo nombre no debe tener mas de 50 caracteres.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <!--  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Option 1</mat-radio-button>
                    <mat-radio-button value="2">Option 2</mat-radio-button>
                </mat-radio-group> -->
                <div *ngFor="let idioma of idiomas">

                    <input type="radio" [value]="idioma.idIdioma" formControlName="tipoidioma"> {{idioma.descripcionIdioma}}


                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                    <!-- <button type="submit" *ngFor="let accion of acciones" [disabled]='saludoRegistro.invalid' [id]="accion.idAccion" class="mat-flat-button" [value]="accion.descripcionAccion"> -->
                    <button *ngFor="let accion of acciones" [id]="accion.idAccion" (click)="saludar($event)">{{accion.descripcionAccion}}</button>
                </div>
                <div class="col-md-4">
                    {{ mensajeSaludo }}
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </form>
    </div>
</mat-card>